/********************************************************************************
 * This is the CSS declaration of Task Manager Module
 *
 * @author wangye.zhao@wandoujia.com
 ********************************************************************************/
@import "../skins/default/default";
/********************************************************************************
 * TaskManager Module Main
 ********************************************************************************/
.w-task-module-main {
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);

    .ctn {
        background-color: #fff;
        box-shadow: 1px 0 10px rgba(0, 0, 0, .2);
        overflow: visible;
        position: relative;
        -webkit-animation: {
            duration: .5s;
            fill-mode: forwards;
            name: module-slide-in;
        }
        -webkit-box-flex: 1;

        .w-ui-toolbar {
            .button-close {
                @include button-close;
                margin-top: -8px;
                position: absolute;
                right: 10px;
                top: 50%;
            }
        }
    }

    &.hide {
        background-color: transparent;
        pointer-events: none;

        .ctn {
            -webkit-animation: {
                duration: .5s;
                name: module-slide-out;
                fill-mode: forwards;
            }
        }
    }
}

@-webkit-keyframes module-slide-in {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes module-slide-out {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
    }
}

/********************************************************************************
 * TaskManager main view
 ********************************************************************************/
.w-task-manager-ctn {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5f6367), to(#53575b));
    cursor: pointer;
    height: 36px;
    overflow: hidden;
    padding: 0 4px;
    position: relative;

    .item {
        display: none;
        height: 36px;
        position: relative;
        text-align: center;

        .content {
            bottom: 0;
            height: 36px;
            left: 0;
            position: absolute;
            -webkit-box-align: center;

            .icon {
                height: 16px;
                margin: 0 5px 0 18px;
                width: 16px;

                &.add {
                    @include sprite-sprite(add-task); // icomoon-add
                }

                &.finish {
                    @include sprite-sprite(pass); // icomoon-yes-circle
                }
            }

            .text-secondary {
                color: #999;
            }
        }

        &.cache {
            display: block;

            .icon {
                @include button-sprite(down); // icomoon-down-circle
            }
        }

        &.active {
            .active-wrap {
                background-image: url(../images/down-anima-bg-16X32.png);
                height: 12px;
                margin: 0 5px 0 18px;
                position: relative;
                width: 16px;
                -webkit-animation: {
                    name: anima-task-bg;
                    duration: 3s;
                    iteration-count: infinite;
                    timing-function: linear;
                }

                .icon {
                    @include sprite-sprite(down-wrap); // icomoon-down-circle
                    margin: 0;
                    position: absolute;
                    top: -2px;
                }
            }
        }

        &.error {
            .icon {
                @include sprite-sprite(error); // @TODO: NEED DESIGN
            }

            .desc {
                color: #FC7668;
            }
        }

        &.push {
            .icon {
                @include sprite-sprite(push); // icomoon-right-circle
            }
        }
    }
}

@-webkit-keyframes anima-task-bg {
    0% {
        background-position-y: 0;
    }
    100% {
        background-position-y: 48px;
    }
}

.w-task-anima {
    bottom: 0;
    display: none;
    height: 80px;
    left: 50px;
    pointer-events: none;
    position: absolute;
    width: 80px;

    &.start-download-anima {
        @include sprite-sprite(new-download);
        display: block;
        -webkit-animation: {
            name: newTask;
            duration: 2s;
            fill-mode: forwards;
            iteration-count: 1;
        }
        -webkit-transform: translate3d(0, -180px, 0);
    }
}

@-webkit-keyframes newTask {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -180px, 0);
    }
    33% {
        opacity: 1;
        -webkit-transform: translate3d(0, -40px, 0);

    }
    66% {
        opacity: 1;
        -webkit-transform: translate3d(0, -40px, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -40px, 0);
    }
}

.w-task-list-ctn {
    margin-top: 1px;
    position: relative;
    -webkit-box-flex: 1;

    header {
        .name {
            margin-left: 37px;
            max-height: 36px;
            overflow: hidden;
            word-break: break-all;
            -webkit-box-flex: 1;
        }

        .size {
            margin-left: 5px;
            width: 100px;
        }

        .progress {
            max-height: 36px;
            overflow: hidden;
            word-break: break-all;
            width: 230px;
        }

        .action {
            width: 245px;
        }
    }
}

.w-task-manager-list-item {
    padding: 4px 0;
    -webkit-box-align: center;

    .item-checker-wrap {
        padding: 9px 10px;
    }

    .icon {
        margin-right: 10px;
        height: 36px;
        width: 36px;

        img {
            height: 36px;
            width: 36px;
        }
    }

    .title {
        max-height: 36px;
        overflow: hidden;
        word-break: break-word;
        -webkit-box-flex: 1;
    }

    .size {
        margin-left: 5px;
        width: 100px;
    }

    .status {
        max-height: 36px;
        overflow: hidden;
        width: 230px;

        .progress {
            height: 18px;
            -webkit-box-align: center;

            progress {
                -webkit-box-flex: 1;
            }
        }
    }

    .action {
        padding-left: 15px;
        width: 230px;

        span {
            margin-left: 20px;
        }
    }
}

.w-task-monitor-item {
    display: none;
    overflow: hidden;
}

/********************************************************************************
 * TaskManager dashboard view
 ********************************************************************************/
.w-task-dashboard {
    padding: 5px;
    min-width: 100px;

    li {
        min-width: 90px;
        -webkit-box-align: center;


        .icon {
            height: 16px;
            margin-right: 5px;
            width: 16px;

            @each $icon in speed, complete, active, error {
                &.#{$icon} {
                    @include sprite-sprite(#{$icon}-white);
                }
            }
        }
    }
}

.w-task-popup-tip {
    margin: 5px 0;
    position: relative;
    width: 240px;

    h2 {
        color: #000;
    }

    p {
        margin: 5px 0;
    }

    .button-connect {
        float: right;
    }

    .button-close {
        @include button-close;
        position: absolute;
        right: 0;
        top: 0;
    }
}

/********************************************************************************
 * TaskManager sned to phone view
 ********************************************************************************/

.w-send-to-phone {
    .pic-ctn {
        height: 64px;
        width: 64px;
        @include sprite-sprite(send_phone);
    }

    .header-text {
        margin-bottom: 10px;
    }
    .content-ctn {
        margin: 0px 0px 30px 20px;
    }

    .w-ui-window-footer {
        margin-top: 30px;
    }
}

/********************************************************************************
 * TaskManager capacity view
 ********************************************************************************/

.w-task-capacity {
    @include footer-panel;
    box-sizing: border-box;
    height: 0;
    overflow: hidden;
    padding: 0 10px;
    -webkit-box-align: center;
    -webkit-transition: height .4s linear;

    &.show {
        height: 36px;
    }

    .icomoon {
        color: #888;
    }

    .info {
        -webkit-box-flex: 1;

        .info-device,
        .info-sd-internal,
        .info-sd-external {
            cursor: pointer;
            margin-right: 20px;
            -webkit-box-align: center;
        }

        progress.highlight {
            &::-webkit-progress-value {
                background: #E64942;
            }
        }
    }
}

/********************************************************************************
 * TaskManager no space panel
 ********************************************************************************/
 .w-task-no-space {
    .icon {
        @include sprite-sprite(no-space);
        display: inline-block;
        height: sprite-sprite-height(no-space);
        margin-left: 10px;
        width: sprite-sprite-width(no-space);
    }

    .desc {
        display: inline-block;
        margin-left: 20px;
        vertical-align: top;

        .title {
            font-size: 14px;
            line-height: 1.5em;
        }
    }
}
