@font-face {
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;
    src: url('icomoon.ttf') format('truetype');
}

.icomoon {
    font-family: 'icomoon';
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    margin-right: 4px;
    speak: none;
    text-transform: none;
    vertical-align: text-top;
    -webkit-font-smoothing: antialiased;
}

.icomoon-sd-second:before {
    content: "\e600";
}
.icomoon-sd-first:before {
    content: "\e601";
}
.icomoon-wallpaper:before {
    content: "\e00b";
}
.icomoon-up:before {
    content: "\e00c";
}
.icomoon-up-mini:before {
    content: "\e00d";
}
.icomoon-star-full:before {
    content: "\e00f";
}
.icomoon-star-empty:before {
    content: "\e010";
}
.icomoon-share:before {
    content: "\e011";
}
.icomoon-setting:before {
    content: "\e012";
}
.icomoon-sd:before {
    content: "\e013";
}
.icomoon-right:before {
    content: "\e015";
}
.icomoon-right-mini:before {
    content: "\e016";
}
.icomoon-restore:before {
    content: "\e019";
}
.icomoon-reduce:before {
    content: "\e01a";
}
.icomoon-merge:before {
    content: "\e01b";
}
.icomoon-mark-as-read:before {
    content: "\e01c";
}
.icomoon-left:before {
    content: "\e01d";
}
.icomoon-left-mini:before {
    content: "\e01e";
}
.icomoon-info:before {
    content: "\e020";
}
.icomoon-import:before {
    content: "\e021";
}
.icomoon-export:before {
    content: "\e023";
}
.icomoon-down:before {
    content: "\e024";
}
.icomoon-down-mini:before {
    content: "\e025";
}
.icomoon-device:before {
    content: "\e027";
}
.icomoon-delete:before {
    content: "\e028";
}
.icomoon-yes:before {
    content: "\e029";
}
.icomoon-comment:before {
    content: "\e02b";
}
.icomoon-backup:before {
    content: "\e02e";
}
.icomoon-fullscreen:before {
    content: "\e014";
}
.icomoon-pause:before {
    content: "\e022";
}
.icomoon-play:before {
    content: "\e031";
}
.icomoon-refresh:before {
    content: "\e032";
}
.icomoon-screenshot:before {
    content: "\e033";
}
.icomoon-stop:before {
    content: "\e034";
}
.icomoon-up-circle:before {
    content: "\e035";
}
.icomoon-right-circle:before {
    content: "\e036";
}
.icomoon-left-circle:before {
    content: "\e037";
}
.icomoon-down-circle:before {
    content: "\e038";
}
.icomoon-ringtone:before {
    content: "\e039";
}
.icomoon-like:before {
    content: "\e03a";
}
.icomoon-dislike:before {
    content: "\e03b";
}
.icomoon-no:before {
    content: "\e02c";
}
.icomoon-reduce-circle:before {
    content: "\e01f";
}
.icomoon-yes-circle:before {
    content: "\e02a";
}
.icomoon-no-circle:before {
    content: "\e02d";
}
.icomoon-sound:before {
    content: "\e00e";
}
.icomoon-itunes:before {
    content: "\e026";
}
.icomoon-add-circle:before {
    content: "\e02f";
}
.icomoon-add:before {
    content: "\e030";
}
.icomoon-folder:before {
    content: "\e017";
}
/*
.icomoon-nav-wash:before {
    content: "\e000";
}
.icomoon-nav-video:before {
    content: "\e001";
}
.icomoon-nav-sms:before {
    content: "\e002";
}
.icomoon-nav-refresh:before {
    content: "\e003";
}
.icomoon-nav-photo:before {
    content: "\e004";
}
.icomoon-nav-music:before {
    content: "\e006";
}
.icomoon-nav-forward:before {
    content: "\e007";
}
.icomoon-nav-contact:before {
    content: "\e008";
}
.icomoon-nav-back:before {
    content: "\e009";
}
.icomoon-nav-app:before {
    content: "\e00a";
}
*/
